<launch>
  <!-- this defines the path to the URDF model -->
  <arg name="model" default="$(find prototype_drone_v1)/urdf/drone.urdf.xacro"/>
  <!-- this is the path to the rviz configuration file -->
  <arg name="rvizconfig" default="$(find prototype_drone_v1)/rviz/drone.rviz" />

  <!-- load the drone description onto the ROS parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>


  <!-- launch joint_state_publisher to publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>


  <!-- launch robot_state_publisher to publish link positions -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
   <!-- launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>